<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: 21_BasicWhite (11.0)</string>
	<string>M11.0.1-7030.1.2-4</string>
	<string>M12.0-7033.0.134-2</string>
	<string>M14.0-7039.0.94-4</string>
	<string>G-r1400-14A170</string>
	<string>G-r1410-14B88</string>
	<string>G-r1400-14A170</string>
	<string>G-r1410-14B88</string>
	<string>G-r1410-14B89</string>
	<string>M14.0-7039.0.94-4</string>
</array>
</plist>
